@model IEnumerable<DataLayer.Entities.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Accounts
        <small>List</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Customer name
                                </th>
                                <th>
                                    Credit
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Options
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Credit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountType.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn bg-navy btn-sm" })
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn bg-olive btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn bg-navy btn-sm" })
                                    @Html.ActionLink("Create Movement", "CreateMovement", new { id = item.Id }, new { @class = "btn bg-olive btn-sm" })
                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


